version: '3'
services:
  apollo-server:
    ports:
      - '4000:4000'
    build:
      context: .
      args:
        - GPR_TOKEN
    environment:
      # ------------------------------
      # Required environment variables
      # ------------------------------
      # Node
      NODE_ENV: development
      # Service
      SERVICE: apollo-server
      PORT: 4000
      ENDPOINT: http://localhost:4000
